main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;

}
.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 8px;
}

.edit-form {
    margin: 20px 0;
}

.button-container {
    margin-top: 15px;
}
.save-button, .cancel-button {
    margin-right: 30px;
    background-color: #00bc77;
    min-width: 150px;
}
/* .edit-page .account {
    background-color: #2c3e50;
    color: #ffff;
   
} */
